* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #555;
}

form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: white;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}
input {
  display: block;
  font-size: 15px;
  padding: 8px 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  background: transparent;
}
input::placeholder {
  color: white;
}
.eye,
.eye-slash {
  cursor: pointer;
}
#eye {
  display: none;
}
.elements {
  display: flex;
  align-items: center;
  color: white;
  border-bottom: 1px solid white;
  color: white;
}
.btn {
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.5s;
}
.btn:hover {
  background-color: aqua;
}
